<div class='App'>
    <div class='Content'>
        <p>Hi!</p>
        <p>
            I am an incoming software engineer at
            <a [href]="url.employer">{{employer}}</a>
            and live in
            <a [href]="url.location">{{location}}</a>.
        </p>

        <p>
            Check out my
            <a [href]="url.resume">résumé</a>,
            projects on
            <a [href]="url.github">GitHub</a>,
            articles on
            <a [href]="url.medium">Medium</a>,
            music on
            <a [href]="url.soundcloud">SoundCloud</a>,
            runs on
            <a [href]="url.strava">Strava</a>, 
            and hikes on
            <a [href]="url.alltrails">AllTrails</a>.
        </p>
        <p>
            Consider
            <a [href]="url.email">emailing me</a>
            or messaging me on
            <a [href]="url.linkedin">LinkedIn</a>.
        </p>
        <p>-Tianyang</p>
    </div>
</div>