<div class='App'>
    <div class='Content'>
        <p>
            Tianyang Ren is a software engineer at
            <a [href]="url.employer">{{employer}}</a>
            and lives in
            <a [href]="url.location">{{location}}</a>.
        </p>

        <p>
            Check out his
            <a [href]="url.resume">résumé</a>,
            projects on
            <a [href]="url.github">GitHub</a>,
            articles on
            <a [href]="url.medium">Medium</a>,
            musics on
            <a [href]="url.soundcloud">SoundCloud</a>,
            runs on
            <a [href]="url.strava">Strava</a>, 
            and hikes on
            <a [href]="url.alltrails">AllTrails</a>.
        </p>
        <p>
            You can email him at
            <a [href]="url.email">hi@tianyangren.com</a>
            or message him on
            <a [href]="url.linkedin">LinkedIn</a>.
        </p>
        <p>✿</p>
    </div>
</div>
